{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            {% if bag_items %}
                <!-- Bag Items -->
                <div class="col-12 col-lg-8">
                    {% for item in bag_items %}
                        <div class="card mb-3 bag-item-card">
                            <div class="row no-gutters">
                                <div class="col-5 col-md-4">
                                    <!-- Image -->
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        {% if item.product.image %}
                                            <img class="img-fluid rounded-left bag-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                            <img class="img-fluid rounded-left bag-img" src="{{ MEDIA_URL }}noimage.webp" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="card-body">
                                        <!-- Product name, sku -->
                                        <h5 class="card-title my-0"><strong>{{ item.product.name }}</strong></h5>
                                        <p class="card-text small text-muted my-0">SKU: {{ item.product.sku|upper }}</p>

                                        <!-- Wax, Size, Scents -->
                                        <ul class="list-unstyled mb-2 small">
                                            <li><strong>Wax:</strong> {{ item.wax.friendly_name }}</li>
                                            {% if item.product.has_sizes %}
                                                <li><strong>Size:</strong> {{ item.size.friendly_name }}</li>
                                            {% endif %}
                                            {% if item.product.has_scents %}
                                                <li><strong>Scent:</strong> {{ item.scent.friendly_name }}</li>
                                            {% endif %}
                                        </ul>

                                        <!-- Price (large screens) -->
                                        <p class="lead mb-2 d-none d-md-block"><span class="small text-muted">Price per item: £{{ item.line_subtotal | floatformat:2 }}</span><br>Total: £{{ item.lineitem_total | floatformat:2 }}</p>


                                        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                            <!-- Quantity controls -->
                                            <div class="mb-2 mb-md-0 mr-md-3 quantity-wrapper">
                                                <form class="form update-form d-inline-flex align-items-center" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                                    {% csrf_token %}
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-outline-black rounded-0" 
                                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label="Decrement quantity">
                                                                <span><i class="fas fa-minus"></i></span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="id_qty_{{ item.item_id }}" aria-label="Quantity">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-outline-black rounded-0"
                                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" aria-label="Increment quantity">
                                                                <span><i class="fas fa-plus"></i></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="product_wax" value="{{ item.wax.pk }}">
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size.pk }}">
                                                    {% endif %}
                                                    {% if item.product.has_scents %}
                                                        <input type="hidden" name="product_scent" value="{{ item.scent.pk }}">
                                                    {% endif %}
                                                </form>
                                                <!-- Update and remove links -->
                                                <div class="d-flex justify-content-start mt-1">
                                                    <a class="update-link text-info small mr-5"><small>Update</small></a>
                                                    <a class="remove-item text-danger small" 
                                                        id="remove_{{ item.item_id }}"
                                                        data-size="{{ item.size.pk }}"
                                                        data-scent="{{ item.scent.pk }}"
                                                        data-wax="{{ item.wax.pk }}">
                                                        <small>Remove</small>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Price (small screens) -->
                                            <p class="lead mb-0 d-md-none"><span class="small text-muted">Price per item: £{{ item.line_subtotal | floatformat:2 }}</span><br>Total: £{{ item.lineitem_total | floatformat:2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Order Summary -->
                <div class="col-12 col-lg-4 mt-lg-0 mt-3">
                    <div class="card p-3 shadow-sm bg-light order-summary">
                        <h4 class="logo-font text-center mb-3">Order Summary</h4>
                        <ul class="list-unstyled text-right">
                            <li>Bag Total: <strong class="float-right">£{{ total|floatformat:2 }}</strong></li>
                            <li>Delivery: <strong class="float-right">£{{ delivery|floatformat:2 }}</strong></li>
                            <li class="lead mt-3">Grand Total:<span class="grand-total">£{{ grand_total|floatformat:2 }}</span></li>
                        </ul>
                        {% if free_delivery_delta > 0 %}
                            <p class="text-danger text-right small">
                                You could get free delivery by spending just <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more!
                            </p>
                        {% endif %}
                        <hr class="my-3">
                        <div class="text-center">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-block mb-2">
                                <span class="icon"><i class="fas fa-chevron-left mr-2"></i></span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn blue-background rounded-0 btn-block">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon ml-2"><i class="fas fa-lock"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="col-12">
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).closest('.quantity-wrapper').find('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var scent = $(this).data('scent');
        var wax = $(this).data('wax');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'product_scent': scent, 'product_wax': wax};
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}