{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 m-auto hero-card hero-shadow">
                <img class="logo-img mb-2 pr-2" src="{% static 'images/logo.webp' %}" alt="The Wickery Logo">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3 mb-2 d-block">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}