<div class="collapse navbar-collapse justify-content-end" id="main-nav">
    <ul class="navbar-nav w-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All<span class="d-none d-xl-inline"> Products</span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=new_arrivals" id="new-arrivals-link" aria-haspopup="true" aria-expanded="false">
                New<span class="d-none d-xl-inline"> Arrivals</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=unscented_candles" id="unscented-candles-link" aria-haspopup="true" aria-expanded="false">
                Unscented<span class="d-none d-xl-inline"> Candles</span> 
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=decorative_candles" id="decorative-candles-link" aria-haspopup="true" aria-expanded="false">
                Decorative<span class="d-none d-xl-inline"> Candles</span> 
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=holiday_collection" id="holiday-collection-link" aria-haspopup="true" aria-expanded="false">
                Holiday<span class="d-none d-xl-inline"> Collection</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=candle_sets" id="candle-sets-link" aria-haspopup="true" aria-expanded="false">
                <span class="d-none d-xl-inline">Candle </span>Sets
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=deals" id="deals-link" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'enquiry' %}" id="enquiries-link" aria-haspopup="true" aria-expanded="false">
                Enquiries
            </a>
        </li>
    </ul>
</div>